.header-wrap{
    width: 90%;
    position: relative;
    margin: auto;
    padding: 40px 0px;
}

header{
    border-bottom: 1.5px solid black;
    width: 100%;
}

.logo-block{
    display: flex;
    position: absolute;
    left: 10px;
    top: 0;
    bottom: 0;
    align-items: center;
    justify-content: space-between;
}

.logo-txt{
    font-size: 19px;
}

.prof-name{
    display: flex;
    position: absolute;
    right: 10px;
    top: 0;
    bottom: 0;
    align-items: center;
    justify-content: space-between;
    
}

.logo{
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.prof-img{
    width: 40px;
    height: 40px;
    margin-left: 10px;
}

.main{
    width: 90%;
    margin: auto;
    margin-top: 20px;
    display: flex;
}

.side-block{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    padding: 10px;
    width: 100%;
}

.side-block:hover{
    background-color: rgb(244 228 228);
}

aside{
    width: 15%;
    margin-right: 2%;
}

.side-img{
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.side-txt{
    width: 100%;
}

.main-list{
    align-items: center;
    width: 100%;
    margin-top: 5px;
    padding-right: 25px;
}

.list-point{
    display: flex;
    padding: 15px;
    border-bottom: 1.3px solid lightgray;
    width: 100%;
    position: relative;
    align-items: center;
}

.list-point:hover{
background-color: lightgray;
}

.media-wraper{
    display: flex;
    align-items: center;
    width: 70%;
}

.star{
    width: 15px;
    margin-right: 10px;
}

.clip{
    width: 15px;
}


.clip-tr{
    width: 15px;
    opacity: 0;
}

.list-txt-grey{
    color: gray;
    margin-left: 5px;
}

.list-name{
    display: none;
}

.star-wraper{
    display: flex;
    width: 20%;
}

.clip-wraper{
    display: flex;
    width: 20%;
    justify-content: space-between;
}
